.about-me {
    background: url(../assets/img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    width: 100%;

}

.presentation {
    padding: 200px 0 0 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.banner {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.subtitle {
    font-size: 2em;
    display: flex;
    gap: 0.5rem;
}

.full-stack {
    color: #3792A4;
}

.description {
    letter-spacing: 0.1rem;
    font-size: 1.5em;
    width: 75%;
    padding-top: 30px;
}

.span-button {
    padding-top: 40px;
}

.button-learn-more {
    background-color: #14596B;
    width: fit-content;
    border-radius: 999rem;
    padding: 1rem 4rem;
    border: none;
    color: white;
    font-size: 1.2em;
    letter-spacing: 0.1rem;
}

.button-learn-more:hover {
    background-color: #163138;
    cursor: pointer;
    transition: all 0.2s ease;
}

.icons {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    padding-top: 100px;
    padding-left: 50px;
    gap: 1rem;
}