header {
    position: fixed;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(2, 104, 115, 0.1);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

nav li a:hover {
    color: #3792A4;
    transition: all 0.3s ease;
}