*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: "Roboto", sans-serif;
}

.element {
    scrollbar-width: thin;
    scrollbar-color: black transparent;
  }
  
  .element::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  .element::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
  }
  
  .element::-webkit-scrollbar-thumb {
    background-color: #000;
  }